.headerImg {
    height: 80%;
    margin-left: 10px;
    margin-top: 5px;
}
.header {
    grid-area: header;
    background-color: grey;
}
.loginBlock{
    float: right;
    margin:10px;
    color:white;
}