.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}



.dialogsItems .active {
    color: black;
}

.dialog {
    color: whitesmoke;
    text-decoration: none;

}

.messages {
    padding: 5px;
}
.dialogsItems{
    padding: 5px;
}

.message {
    color: whitesmoke;
}